@page "/"
@using Belot.Engine
@using Belot.Engine.Cards
@using Belot.Engine.Players
@using Belot.AI.SmartPlayer
@using Belot.AI.DummyPlayer
@using Belot.Engine.Game
@using System.Threading
@using Timer = System.Timers.Timer

<h1>
    <span class="float-left">Blazor Belot 1.0</span>
    <span class="float-right">Result 0-0</span>
</h1>
<div class="clearfix"></div>

<div class="row">
    <div class="col-3 text-center">
    </div>
    <div class="col-6 text-center">
        @for (var i = 0; i < cardsPerPlayer; i++)
        {
            <CardImage></CardImage>
        }
    </div>
    <div class="col-3 text-center">
    </div>
</div>
<div class="row" style="height: 100%">
    <div class="col-3 text-center">
        @for (var i = 0; i < cardsPerPlayer; i++)
        {
            <CardImage></CardImage>
        }
    </div>
    <div class="col-6 text-center">
        @*Play field*@
        <button class="btn btn-secondary" @onclick="ButtonClick">State has changed</button>
    </div>
    <div class="col-3 text-center">
        @for (var i = 0; i < cardsPerPlayer; i++)
        {
            <CardImage></CardImage>
        }
    </div>
</div>
<div class="row">
    <div class="col-3 text-center">
    </div>
    <div class="col-6 text-center">
        @for (var i = 0; i < cardsPerPlayer; i++)
        {
            <CardImage></CardImage>
        }
    </div>
    <div class="col-3 text-center">
    </div>
</div>

@code
{
    UiPlayerImplementation uiPlayer;
    BelotGame game;
    int cardsPerPlayer = 0;

    protected override void OnInitialized() => StartGameAsync();

    private async void StartGameAsync()
    {
        this.uiPlayer = new UiPlayerImplementation();
        uiPlayer.MyCardsChanged += UiPlayer_OnMyCardsChanged;;
        this.game = new BelotGame(uiPlayer, new SmartPlayer(), new SmartPlayer(), new SmartPlayer());
        game.PlayGame(PlayerPosition.South);
    }

    private async void UiPlayer_OnMyCardsChanged(object sender, CardCollection collection)
    {
        cardsPerPlayer = collection.Count;
        Console.WriteLine("MyCardsChanged");
        this.StateHasChanged();
        await Task.Delay(1000);
    }

    private void ButtonClick()
    {
        this.StateHasChanged();
    }

    public class UiPlayerImplementation : IPlayer
    {
        public event EventHandler<CardCollection> MyCardsChanged;

        public BidType GetBid(PlayerGetBidContext context)
        {
            Console.WriteLine("GetBid");
            this.MyCardsChanged?.Invoke(this, context.MyCards);
            return BidType.Pass;
        }

        public IEnumerable<Announce> GetAnnounces(PlayerGetAnnouncesContext context)
        {
            Console.WriteLine("GetAnnounces");
            this.MyCardsChanged?.Invoke(this, context.MyCards);
            return context.AvailableAnnounces;
        }

        public PlayCardAction PlayCard(PlayerPlayCardContext context)
        {
            Console.WriteLine("PlayCard");
            this.MyCardsChanged?.Invoke(this, context.MyCards);
            return new PlayCardAction(context.AvailableCardsToPlay.RandomElement(), true);
        }
    }
}
