@page "/"
@using Belot.Engine
@using Belot.Engine.Players
@using Belot.AI.SmartPlayer
@using Belot.AI.DummyPlayer

<h1>Blazor Belot</h1>

Coming soon...

<hr />

<button class="btn btn-primary" @onclick="() => RunGames(100)">Simulate 100 games (smart vs random)</button>

<div>@simulationResult</div>

@code
{
    string simulationResult;

    void RunGames(int count)
    {
        var game = new BelotGame(new SmartPlayer(), new RandomPlayer(), new SmartPlayer(), new RandomPlayer());
        var southNorthWins = 0;
        var eastWestWins = 0;
        for (var i = 0; i < count; i++)
        {
            var firstToPlay = (PlayerPosition)(1 << (i % 4));
            var result = game.PlayGame(firstToPlay);
            if (result.Winner == PlayerPosition.SouthNorthTeam)
            {
                southNorthWins++;
            }
            else
            {
                eastWestWins++;
            }
        }

        simulationResult = $"Result: {southNorthWins}-{eastWestWins} (Total: {southNorthWins + eastWestWins} games)";
    }
}
