@inherits LayoutComponentBase

<div class="d-flex h-100 p-3 mx-auto flex-column">
    <main role="main">
        @Body
    </main>

    <footer class="mt-auto">
        <strong>Blazor Belot by <a href="https://nikolay.it">Nikolay Kostov</a></strong>
        This system is <a target="_blank" class="font-weight-bold" href="https://github.com/NikolayIT/BelotGameEngine">open source</a>.
    </footer>
</div>
