html,
body {
    height: 100%;
    background-color: #333;
    color: #fff;
}

/*
    Error box
*/

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/*
    Cards sprite
*/

.sprite {
    background-image: url(/img/cards.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    left: -20pt;
}

.sprite-aceclub {
    width: 209px;
    height: 291px;
    background-position: -5px -5px;
}

.sprite-acediamond {
    width: 209px;
    height: 291px;
    background-position: -224px -5px;
}

.sprite-aceheart {
    width: 209px;
    height: 291px;
    background-position: -443px -5px;
}

.sprite-acespade {
    width: 209px;
    height: 291px;
    background-position: -662px -5px;
}

.sprite-card_back_small {
    width: 121px;
    height: 169px;
    background-position: -881px -5px;
}

.sprite-eightclub {
    width: 209px;
    height: 291px;
    background-position: -1012px -5px;
}

.sprite-eightdiamond {
    width: 209px;
    height: 291px;
    background-position: -1231px -5px;
}

.sprite-eightheart {
    width: 209px;
    height: 291px;
    background-position: -5px -306px;
}

.sprite-eightspade {
    width: 209px;
    height: 291px;
    background-position: -224px -306px;
}

.sprite-jackclub {
    width: 209px;
    height: 291px;
    background-position: -443px -306px;
}

.sprite-jackdiamond {
    width: 209px;
    height: 291px;
    background-position: -662px -306px;
}

.sprite-jackheart {
    width: 209px;
    height: 291px;
    background-position: -881px -306px;
}

.sprite-jackspade {
    width: 209px;
    height: 291px;
    background-position: -1100px -306px;
}

.sprite-kingclub {
    width: 209px;
    height: 291px;
    background-position: -5px -607px;
}

.sprite-kingdiamond {
    width: 209px;
    height: 291px;
    background-position: -224px -607px;
}

.sprite-kingheart {
    width: 209px;
    height: 291px;
    background-position: -443px -607px;
}

.sprite-kingspade {
    width: 209px;
    height: 291px;
    background-position: -662px -607px;
}

.sprite-nineclub {
    width: 209px;
    height: 291px;
    background-position: -881px -607px;
}

.sprite-ninediamond {
    width: 209px;
    height: 291px;
    background-position: -1100px -607px;
}

.sprite-nineheart {
    width: 209px;
    height: 291px;
    background-position: -5px -908px;
}

.sprite-ninespade {
    width: 209px;
    height: 291px;
    background-position: -224px -908px;
}

.sprite-queenclub {
    width: 209px;
    height: 291px;
    background-position: -443px -908px;
}

.sprite-queendiamond {
    width: 209px;
    height: 291px;
    background-position: -662px -908px;
}

.sprite-queenheart {
    width: 209px;
    height: 291px;
    background-position: -881px -908px;
}

.sprite-queenspade {
    width: 209px;
    height: 291px;
    background-position: -1100px -908px;
}

.sprite-sevenclub {
    width: 209px;
    height: 291px;
    background-position: -1450px -5px;
}

.sprite-sevendiamond {
    width: 209px;
    height: 291px;
    background-position: -1319px -306px;
}

.sprite-sevenheart {
    width: 209px;
    height: 291px;
    background-position: -1319px -607px;
}

.sprite-sevenspade {
    width: 209px;
    height: 291px;
    background-position: -1319px -908px;
}

.sprite-tenclub {
    width: 209px;
    height: 291px;
    background-position: -5px -1209px;
}

.sprite-tendiamond {
    width: 209px;
    height: 291px;
    background-position: -224px -1209px;
}

.sprite-tenheart {
    width: 209px;
    height: 291px;
    background-position: -443px -1209px;
}

.sprite-tenspade {
    width: 209px;
    height: 291px;
    background-position: -662px -1209px;
}
