<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharpBelot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SharpBelot.Properties.Settings>
            <setting name="CardsDll" serializeAs="String">
                <value>CardsRes.dll</value>
            </setting>
            <setting name="SouthName" serializeAs="String">
                <value>Коцето</value>
            </setting>
            <setting name="NorthName" serializeAs="String">
                <value>Пламка</value>
            </setting>
            <setting name="EastName" serializeAs="String">
                <value>Хасан</value>
            </setting>
            <setting name="WestName" serializeAs="String">
                <value>Айше</value>
            </setting>
            <setting name="CapotRemovesDouble" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtraPointsAreDoubled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NorthDll" serializeAs="String">
                <value>AIPlayers.dll</value>
            </setting>
            <setting name="EastDll" serializeAs="String">
                <value>AIPlayers.dll</value>
            </setting>
            <setting name="WestDll" serializeAs="String">
                <value>AIPlayers.dll</value>
            </setting>
            <setting name="MistralFontFile" serializeAs="String">
                <value>MISTRAL.TTF</value>
            </setting>
            <setting name="CurlzFontFile" serializeAs="String">
                <value>CURLZ.TTF</value>
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>bg-BG</value>
            </setting>
        </SharpBelot.Properties.Settings>
    </userSettings>
</configuration>